{% extends "index.html" %}

{% block main %}
<h2>Formulario de contactos</h2>
<input type="text" name="" value="" placeholder="Ingrese su comentario">
{% endblock %}

{% block foother %}
<h6>Power by @eechavez2</h6>
{% endblock %}