{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
	<header id="header" class="">
	<h1>Pagina de inicio del modulo portal</h1>

	{% block header %}
	{% endblock %}
	</header><!-- /header -->
	<nav>
		<a href="/" title="">Inicio</a>
		<a href="" title="">Mapa</a>
		<a href="portafolio" title="/portafolio">Portafolio</a>
		<a href="contactos" title="/contactos">Contactos</a>
	</nav>
	<main>
	<section class="contenido">	
		{% block main %}
		<h2>Pagina de incio</h2>
		{% endblock %}
	</section>
	</main>

	<footer>
		<h6>Derechos Reservados UTPL 2016</h6>
		{% block footer %}
		{% endblock %}
	</footer>
</body>
</html>