{% extends "index.html" %}

{% block main %}
<h2>Portafolio</h2><br>
<form action="." method="POST">
	{% csrf_token %}
	{{ form.as_p}}
	<input type="submit" value="Grabar">
	<input type="reset" value="Limpiar">

<h5>Nombre</h5>
<input type="text" name="" value="" placeholder="Ingrese su nombre"><br>
<h5>Apellido</h5>
<input type="text" name="" value="" placeholder="Ingrese su apellido"><br>
<h5>Correo</h5>
<input type="text" name="" value="" placeholder="Ingrese su correo"><br>
<h5>Comentario</h5>
<input type="text" name="" value="" placeholder="Ingrese su comentario"><br>
</form>
	{{ informacion }}
{% endblock %}

{% block footer %}
<h6>Power by @eechavez2</h6>
{% endblock %}