*{
	margin: 0;
	padding: 0;
}
body{
	font-family: arial;
	background: #ccc;
}
header{
	text-shadow: 3px 3px 5px #333;
	color: #333;
}
header, main, footer, nav{
	width: 90%;
	margin: 0  auto;
	background: #fff;
}
nav{
	text-align: center;
	padding: 0.5em;
	background: #000;
}
nav a{
	background: #000;
	color: #f3f3f3;
	padding: 0.5em;
	text-decoration: none;
}
nav a:hover{
	background: #1C853F;
	color: #f3f3f3;
}
section.contenido{
	padding: 1em;
	background: #4EA674;
}
header h1{
	padding: 1em;
}
footer{
	background: #000;
}
footer h6{
	color: #ccc;
	padding: 1em;
	text-align: center;
}