{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>Registrar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Boostrap" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/font-awemose.css' %}" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/css3clock.js' %}"></script>
    <script src="{% static 'js/skycons.js' %}"></script>
</head>

<body>
    <div class="page-container">
        <div class="left-content">
            <div class="inner-content">
                <div class="header-section">
                    <div class="clearfix"></div>
                </div>

                <div class="outter-wp">
                    <div class="forms-main">
                        <div class="forms-main">

                            <h2 class="inner-tittle">Buscar Material Bibliografico</h2> {{error}}
                            <form action="" method="GET" >
                                <div class="input-group input-group-in">
                                    <input type="text" name="q" class="form-control2 input-search" placeholder="Ingrese el Codigo de Libro" value="{{ query|escape }}">
                                    <span class="input-group-btn">
                                            <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                </div>
                                <!-- Input Group -->
                            </form>



                            <form action="" method="GET">
                                <label name="q">Search: </label>
                                <input type="text" name="q" value="{{ query|escape }}">
                                <input type="submit" value="Buscar">
                            </form>




                            <a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Opciones avanzadas  </a>
                            <div class="collapse" id="collapseExample">
                                <div class="well">
                                    <form >
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="input-group">
                                                    <!--<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>-->
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                                    <input type="text" class="form-control" placeholder="Autor">
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                                                    <input type="text" class="form-control" placeholder="Editorial">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="input-group date form_datetime">
                                                    <!--calenadrio: http://tarruda.github.io/bootstrap-datetimepicker/-->
                                                    <span class="add-on input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                    <input class="form-control" type="text" value="" readonly placeholder="Fecha de publicacion">
                                                </div>

                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control" id="sel1">
                                                    <option>Generalidades</option>
                                                    <option>Filosofía y Psicología</option>
                                                    <option>Religión, Teología</option>
                                                    <option>Ciencias Sociales</option>
                                                    <option>Lenguas</option>
                                                    <option>Ciencias Básicas</option>
                                                    <option>Tecnología y Ciencias Aplicadas</option>
                                                    <option>Artes y recreación</option>
                                                    <option>Literatura</option>
                                                    <option>Historia y Geografía</option>
                                                </select>
                                            </div>
                                        </div>
                                </div>
                                </form>
                            </div>
                        </div>

                        {% if query %}
                        <h2>Resultados para: "{{ query|escape }}":</h2> {% if results %} {% else %}
                        <p>NO hay libros encontrados</p>
                        {% endif %} {% endif %}





                        <div class="graph-form">
                            <!--nuevo comentario-->

                            <!--<div class="validation-form">
<form action="" method="POST">
{% csrf_token %}

<div class="col-md-12 form-group1 group-mail">

{{ form.as_p }}
</div>-->

                            <!--fin de nuevo comentario-->










                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>Libros</h4></div>
                                        <div class="panel-body">
                                            <table class="table table-condensed">

                                                <thead>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th>Titulo</th>
                                                        <th>Idioma</th>
                                                        <th>Ubicacion</th>
                                                        <th>Edicion</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for libros in results%}
                                                    <tr data-toggle="collapse" data-target="#demo1{{ libros.titulo}}" class="accordion-toggle">
                                                        <td>
                                                            <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
                                                        </td>
                                                        <td>{{ libros.titulo|escape }}</td>
                                                        <td>{{ libros.idioma|escape }}</td>
                                                        <td>{{ libros.ubicacion|escape }}</td>
                                                        <td>{{ libros.edicion|escape }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6" class="hiddenRow">
                                                            <div id="demo1{{ libros.titulo}}" class="accordian-body collapse"><strong>Fecha de Publicacion: </strong>{{ libros.fechapublicacion|escape }}</div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    <!--<tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
<td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
<td>OBS Name</td>
<td>OBS Description</td>
<td>hpcloud</td>
<td>nova</td>
<td> created</td>
</tr>
<tr>
<td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Demo2</div></td>
</tr>
<tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
<td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
<td>OBS Name</td>
<td>OBS Description</td>
<td>hpcloud</td>
<td>nova</td>
<td> created</td>
</tr>
<tr>
<td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> 
<table class="table table-striped">
<thead>
<tr><td><a href="WorkloadURL">Workload link</a></td><td>Bandwidth: Dandwidth Details</td><td>OBS Endpoint: end point</td></tr>
<tr><th>Access Key</th><th>Secret Key</th><th>Status </th><th> Created</th><th> Expires</th><th>Actions</th></tr>
</thead>
<tbody>
<tr><td>access-key-1</td><td>secretKey-1</td><td>Status</td><td>some date</td><td>some date</td><td><a href="#" class="btn btn-default btn-sm">
<i class="glyphicon glyphicon-cog"></i></a></td></tr>



</tbody>
</table>

</div> </td>
</tr>-->
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>

                            </div>










                        </div>
                        <div class="clearfix"> </div>


                        <!---->
                    </div>

                </div>

                <div class="sidebar-menu">
                    <header class="logo">
                        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
                        <a href="index.html"> <span id="logo"> <h1>Biblioteca</h1></span>
                        </a>
                    </header>
                    <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
                    <div class="down">
                        <a href="index.html"><img src="images/admin.jpg"></a>
                        <p>Sistema de Administracion Biblioteca</p>
                        <ul>
                            <li><a class="tooltips" href="index.html"><span>Profile</span><i class="lnr lnr-user"></i></a></li>
                            <li><a class="tooltips" href="index.html"><span>Settings</span><i class="lnr lnr-cog"></i></a></li>
                            <li><a class="tooltips" href="index.html"><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>
                        </ul>
                    </div>
                    <!--//down-->
                    <div class="menu">
                        <ul id="menu">
                            <li><a href="index.html"><i class="fa fa-tachometer"></i> <span>Inicio</span></a></li>
                            <li id="menu-academico"><a href="#"><i class="fa fa-table"></i> <span> Gestion de Usuarios</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                <ul id="menu-academico-sub">
                                    <li id="menu-academico-avaliacoes"><a href="registrar"> Registrar</a></li>
                                    <li id="menu-academico-boletim"><a href="modificar">Modificar</a></li>
                                    <li id="menu-academico-avaliacoes"><a href="consultar">Consultar</a></li>

                                </ul>
                            </li>
                            <li id="menu-academico"><a href="#"><i class="fa fa-file-text-o"></i> <span>Material Bibliografico</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                <ul id="menu-academico-sub">
                                    <li id="menu-academico-avaliacoes"><a href="i_material">Ingreso de Material Bibliografico</a></li>
                                    <li id="menu-academico-boletim"><a href="modificar_m">Modificacion de Material Bibliografico </a></li>
                                    <li id="menu-academico-boletim"><a href="eliminar_m">Eliminacion de Material Bibliografico </a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="lnr lnr-pencil"></i> <span>Prestamos</span></a></li>
                            <li id="menu-academico"><a href="#"><i class="lnr lnr-book"></i> <span>Devoluciones</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                <ul id="menu-academico-sub">
                                    <li id="menu-academico-avaliacoes"><a href="#">Registrar Devolucion</a></li>
                                    <li id="menu-academico-boletim"><a href="#">Consultar Devolucion</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Reportes</span><span class="fa fa-angle-right" style="float: right"></span></a>
                            </li>
                            <li id="menu-academico"><a href="#"><i class="lnr lnr-layers"></i> <span>Sanciones</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>

                <script>
                    var toggle = true;

                    $(".sidebar-icon").click(function () {
                        if (toggle) {
                            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                            $("#menu span").css({
                                "position": "absolute"
                            });
                        } else {
                            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                            setTimeout(function () {
                                $("#menu span").css({
                                    "position": "relative"
                                });
                            }, 400);
                        }

                        toggle = !toggle;
                    });
                </script>
                <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

                <script type="text/javascript">
                    $(".form_datetime").datetimepicker({
                        format: "yyyy-MM-dd"
                    });
                </script>            
                <!--js -->
                <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
                <script src="{% static 'js/script.js' %}"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>