{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Registrar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Boostrap" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
        <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
        <link href="{% static 'css/font-awemose.css' %}" rel="stylesheet"> 
        <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
        <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'js/css3clock.js' %}"></script>
        <script src="{% static 'js/skycons.js' %}"></script>
    </head> 
    <body>
        <div class="page-container">
            <div class="left-content">
                <div class="inner-content">
                    <div class="header-section">
                        <div class="clearfix"></div>
                    </div>

                    <div class="outter-wp">
                        <div class="forms-main">
                            <div class="forms-main">

                                <h2 class="inner-tittle">Modificar Material Bibliografico</h2>
                                {{error}}
                                <form action="" method="GET">
                                    <div class="input-group input-group-in">
                                        <input type="text" name="q" class="form-control2 input-search" placeholder="Ingrese el Codigo de Libro">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div><!-- Input Group -->
                                </form>

                                <div class="graph-form">
                                    <div class="validation-form">
                                        <form action="" method="POST">
                                            {% csrf_token %}

                                            <div class="col-md-12 form-group1 group-mail">
                                                <!--
<label class="control-label">Codigo</label>
<input type="text" placeholder="" required="">
-->
                                                {{ form.as_p }}
                                            </div>
                                            <!--
<div class="clearfix"> </div>		
<div class="col-md-12 form-group1 group-mail">
<label class="control-label">Titulo del Libro</label>
<input type="text" placeholder="" required="">
</div>
<div class="clearfix"> </div>
<div class="col-md-12 form-group1 group-mail">
<label class="control-label">Autor</label>
<input type="text" placeholder="" required="">
</div>
<div class="clearfix"> </div>
<div class="col-md-12 form-group1 group-mail">
<label class="control-label">Editorial</label>
<input type="text" placeholder="" required="">
</div>
<div class="clearfix"> </div>
<div class="col-md-12 form-group2 group-mail">
<label class="control-label">Categoria</label>
<select>
<option value="">Elegir</option>
<option value="">Categoria</option>
<option value="">Libro</option>
</select>
</div>
<div class="clearfix"> </div>
<div class="col-md-12 form-group2 group-mail">
<label class="control-label">Idioma</label>
<select>
<option value="">English</option>
<option value="">Japanese</option>
<option value="">Russian</option>
<option value="">Arabic</option>
<option value="">Spanish</option>
</select>
</div>
<div class="clearfix"> </div>
<div class="col-md-12 form-group1 group-mail">
<label class="control-label">Año</label>
<input type="text" placeholder="Number" required="">
<p class=" hint-block check"></p>
</div>
<div class="clearfix"> </div>
<div class="col-md-12 form-group1 group-mail">
<label class="control-label ">Edicion</label>
<input type="date" class="form-control1 ng-invalid ng-invalid-required" ng-model="model.date" required="">
</div>
<div class="clearfix"> </div>
<div class="col-md-12 form-group1 group-mail">
<label class="control-label ">Ubicacion</label>
<input type="date" class="form-control1 ng-invalid ng-invalid-required" ng-model="model.date" required="">
</div>
<div class="clearfix"> </div>
<div class="col-md-12 form-group button-2">
-->
                                            <div class="col-md-12 form-group2 group-mail">
                                                <label class="control-label">Categoria</label>
                                                <select name="cat">
                                                    {% for c in subcategoria %}

                                                    <option value="{{c.idsubcategoria}}">{{c.nombresubcategoria}}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                            <div class="col-md-12 form-group2 group-mail">
                                                <label class="control-label">Disponible</label>
                                                <select name="disp">
                                                    {% for d in disponible %}

                                                    <option value="{{d.iddisponibilidad}}">{{d.disponibilidad}}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                            <div class="col-md-12 form-group2 group-mail">
                                                <label class="control-label">Tipo</label>
                                                <select name="tip">
                                                    {% for t in tipo %}

                                                    <option value="{{t.idtipolibro}}">{{t.nombretipo}}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Actualizar</button>
                                            <button type="reset" class="btn btn-default">Cancelar</button>
                                        </form>
                                    </div>
                                    <div class="clearfix"> </div>


                                    <!---->
                                </div>

                            </div>							
                        </div>
                        <div class="sidebar-menu">
                            <header class="logo">
                                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html"> <span id="logo"> <h1>Biblioteca</h1></span> 
                                </a> 
                            </header>
                            <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
                            <div class="down">	
                                <a href="index.html"><img src="images/admin.jpg"></a>
                                <p>Sistema de Administracion Biblioteca</p>
                                <ul>
                                    <li><a class="tooltips" href="index.html"><span>Profile</span><i class="lnr lnr-user"></i></a></li>
                                    <li><a class="tooltips" href="index.html"><span>Settings</span><i class="lnr lnr-cog"></i></a></li>
                                    <li><a class="tooltips" href="index.html"><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>
                                </ul>
                            </div>
                            <!--//down-->
                            <div class="menu">
                                <ul id="menu" >
                                    <li><a href="index.html"><i class="fa fa-tachometer"></i> <span>Inicio</span></a></li>
                                    <li id="menu-academico" ><a href="#"><i class="fa fa-table"></i> <span> Gestion de Usuarios</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                        <ul id="menu-academico-sub" >
                                            <li id="menu-academico-avaliacoes" ><a href="registrar"> Registrar</a></li>
                                            <li id="menu-academico-boletim" ><a href="modificar">Modificar</a></li>
                                            <li id="menu-academico-avaliacoes" ><a href="consultar">Consultar</a></li>

                                        </ul>
                                    </li>
                                    <li id="menu-academico" ><a href="#"><i class="fa fa-file-text-o"></i> <span>Material Bibliografico</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                        <ul id="menu-academico-sub" >
                                            <li id="menu-academico-avaliacoes" ><a href="i_material">Ingreso de Material Bibliografico</a></li>
                                            <li id="menu-academico-boletim" ><a href="modificar_m">Modificacion de Material Bibliografico </a></li>
                                            <li id="menu-academico-boletim" ><a href="eliminar_m">Eliminacion de Material Bibliografico </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="lnr lnr-pencil"></i> <span>Prestamos</span></a></li>
                                    <li id="menu-academico" ><a href="#"><i class="lnr lnr-book"></i> <span>Devoluciones</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                        <ul id="menu-academico-sub" >
                                            <li id="menu-academico-avaliacoes" ><a href="#">Registrar Devolucion</a></li>
                                            <li id="menu-academico-boletim" ><a href="#">Consultar Devolucion</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Reportes</span><span class="fa fa-angle-right" style="float: right"></span></a>
                                    </li>
                                    <li id="menu-academico" ><a href="#"><i class="lnr lnr-layers"></i> <span>Sanciones</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>		
                    </div>
                    <script>
                        var toggle = true;

                        $(".sidebar-icon").click(function() {                
                            if (toggle)
                            {
                                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                                $("#menu span").css({"position":"absolute"});
                            }
                            else
                            {
                                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                                setTimeout(function() {
                                    $("#menu span").css({"position":"relative"});
                                }, 400);
                            }

                            toggle = !toggle;
                        });
                    </script>
                    <!--js -->
                    <script src="js/jquery.nicescroll.js"></script>
                    <script src="js/scripts.js"></script>

                    <!-- Bootstrap Core JavaScript -->
                    <script src="js/bootstrap.min.js"></script>
                    </body>
                </html>