{% extends "index.html" %}

{% block main %}
<h2>Portafolio</h2><br>
<form action="" method="get">
	<input type="text" name="q">
	<input type="submit" value="Buscar">
	
</form>
<hr />

	{%for p in persona%}
	<ul>
		<li>{{p.cedula}}</li>
		<li>{{p.apellido}}</li>
		
	</ul>
	 <hr />
	{%endfor%}
	{{ informacion }}

{% endblock %}

{% block footer %}
<h6>Power by @eechavez2</h6>
{% endblock %}