{% extends "index.html" %}

{% block main %}
<h2>Modificar</h2><br>
<form action="" method="get">
	<input type="text" name="q">
	<input type="submit" value="Buscar">
	
</form>

	<form action="" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		
		<input type="submit" value="Grabar">
		<input type="reset" value="Limpiar">
	</form>
	{{ informacion }}

{% endblock %}

{% block footer %}
<h6>Power by @eechavez2</h6>
{% endblock %}